@model Website_Bewerbung.Pages.CVModel

<div class="row pt-2">
    <div class="col-4 pt-5 text-right"><b></b></div>
    <div class="col-1 pt-5"> | </div>
    <div class="col-7 pt-5 text-left">
        <b>Bsc. Medien- und Kommunikationsinformatik at Reutlingen University</b>
        <br />
        Thesis: Automated Scene Analysis in American Football, Grad: 1,3
        <br />
        (Final grade: 2,4)
    </div>
</div>