@page
@model Website_Bewerbung.Pages.CVModel
@{
    ViewData["Title"] = "Curriculum Vitae";
}

<h1 class="text-center">Curriculum Vitae</h1>

<div class="container pt-5 text-center">

    <div class="container pt-5">
        <h2 class="text-md-left">Professional Career</h2>
        <hr />
        <div class="row pt-2">
            <div class="col-4 pt-5 text-right"><b>September 2019 - February 2020</b></div>
            <div class="col-1 pt-5"> | </div>
            <div class="col-7 pt-5 text-left">
                <b>Internship Daimler AG</b>
                <br />
                Projekt NPS (New Procurement System)
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-4 pt-5 text-right"><b>November 2017 - August 2019</b></div>
            <div class="col-1 pt-5"> | </div>
            <div class="col-7 pt-5 text-left">
                <b>Philipp Schiweck IT Services (small business)</b>
                <br />
                Webentwicklung
                <br />
                <ul>
                    <li>Fromm Raumausstattung Lichtenstein</li>
                    <li>Restaurant Kisu Frankfurt</li>
                    <li>Merwarth Personalservice Stuttgart</li>
                </ul>
                IT-Consulting for various companies
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-4 pt-5 text-right"><b>January 2017 - December 2019</b></div>
            <div class="col-1 pt-5"> | </div>
            <div class="col-7 pt-5 text-left">
                <b>Spotlog UG (Swipsh)</b>
                <br />
                Co-Founder of Startup
                <br />
                IT Consulting
                <ul>
                    <li>Design of the App</li>
                    <li>Consulting</li>
                </ul>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-4 pt-5 text-right"><b>Oktober 2013 - März 2014</b></div>
            <div class="col-1 pt-5"> | </div>
            <div class="col-7 pt-5 text-left">
                <b>Universitätsklinikum Tübingen</b>
                <br />
                Federal voluntary service (Bufdi) in the Neuroradiology department
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <h2 class="text-md-left">Education</h2>
        <hr />
        <div class="row pt-2">
            <div class="col-4 pt-5 text-right"><b>September 2015 - February 2021</b></div>
            <div class="col-1 pt-5"> | </div>
            <div class="col-7 pt-5 text-left">
                <b>Bsc. Medien- und Kommunikationsinformatik at Reutlingen University</b>
                <br />
                Thesis: Automated Scene Analysis in American Football, Grad: 1,3
                <br />
                (Final grade: 2,4)
            </div>
        </div>

        @await Component.InvokeAsync("CVItem")
    </div>

