@page
@model Website_Bewerbung.Pages.CVModel
@{
    ViewData["Title"] = "Curriculum Vitae";
}

<h1 class="text-center">Curriculum Vitae</h1>

<div class="container pt-3 text-center hide-scroll">

    <div class="container pt-3">
        <h2 class="text-md-left">Professional Career</h2>
        <hr />
        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>September 2019 - February 2020</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Internship Daimler AG</b>
                <br />
                Projekt NPS (New Procurement System)
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>November 2017 - August 2019</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Philipp Schiweck IT Services (small business)</b>
                <br />
                Webentwicklung
                <br />
                <ul>
                    <li>Fromm Raumausstattung Lichtenstein</li>
                    <li>Restaurant Kisu Frankfurt</li>
                    <li>Merwarth Personalservice Stuttgart</li>
                </ul>
                IT-Consulting for various companies
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>January 2017 - December 2019</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Spotlog UG (Swipsh)</b>
                <br />
                Co-Founder of Startup
                <br />
                IT Consulting
                <ul>
                    <li>Design of the App</li>
                    <li>Consulting</li>
                </ul>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>Oktober 2013 - März 2014</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Universitätsklinikum Tübingen</b>
                <br />
                Federal voluntary service (Bufdi) in the Neuroradiology department
            </div>
        </div>
    </div>


    <div class="container pt-3">
        <h2 class="text-md-left">Education</h2>
        <hr />
        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>September 2015 - February 2021</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Bsc. Medien- und Kommunikationsinformatik at Reutlingen University</b>
                <br />
                Thesis: Automated Scene Analysis in American Football, Grade: 1,3
                <br />
                (Final grade: 2,4)
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>April 2014 - August 2015</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Informatik at the Eberhard Karls University Tübingen</b>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>September 2005 - June 2013</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Isolde-Kurz Gymnasium Reutlingen</b>
                <br />
                Abschluss: Abitur
            </div>
        </div>
    </div>


    <div class="container pt-3">
        <h2 class="text-md-left">Knowledge and Skills</h2>
        <hr />
        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>Languages</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                German - Native
                <br />
                English - Fluent
                <br />
                French - Basic
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>Programming languages</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Java, Python, C++, C#</b>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>Web development</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Angular, HTML, JS, Nodejs, CSS, PHP</b>
            </div>
        </div>

        <hr class="small">
        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>Cloud</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>Angular, HTML, JS, Nodejs, CSS, PHP</b>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>Database</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>SQL (MySQL, PostgreSQL), NoSQL (MongoDB)</b>
            </div>
        </div>

        <hr class="small">
        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>Software development</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <b>SCRUM, Jira, Confluence, Git</b>
            </div>
        </div>
    </div>


    <div class="container pt-3">
        <h2 class="text-md-left">Other Experience</h2>
        <hr />

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>University</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <ul>
                    <li>Creation of the Bogenliga BW website in collaboration with Exxcellent solutions GmbH</li>
                </ul>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-4 pt-3 text-right"><b>Outside of University</b></div>
            <div class="col-1 pt-3"> | </div>
            <div class="col-7 pt-3 text-left">
                <ul>
                    <li>PR work in American Football Club (Communication with television and papers; Advertisement; etc.)</li>
                    <li>Coach for U15 and Seniors team (American Football)</li>
                </ul>
            </div>
        </div>
    </div>

</div>