@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>I created this Website to get a feeling for ASP.Net and C#, after not having worked on a project like this for some time.</p>
    <p>Feel free to look around, or check out this pages <a href="https://github.com/philippschiweck/WebsiteBewerbung" target="_blank">Github</a>.</p>

